<ul class="m-faqs-list">
  {{#each this.list}}
    
    <li data-app="{{this.category}}" data-order="{{this.order}}">
      <h3 class="toggle">
        <span class="title">{{this.title}}</span>
        <div class="m-apps-tag -inline">
          <ul>
            {{#each this.tags_info}}
              <li><a class="{{this.slug}}" href="{{this.url}}">{{this.title}}</a></li>
            {{/each}}
          </ul>
        </div>
        <span class="arrow"><svg><use xlink:href="#icon-arrowdown"></use></svg></span>
      </h3>
      <div class="content m-faqs-content">
        {{{this.content}}}
      </div>
    </li>
    
  {{/each}}
</ul>
<ul class="m-faqs-pagination"></ul>
