{{#if results}}
  {{#each results}}
  	{{#if category_info.slug}}
	  	<li class="-group"><a href="{{category_info.url}}/">{{{category_info.title}}}</a></li>
			{{#each posts}}
				<li><a class="js-result-link" data-slug="{{slug}}" data-category="{{category_info.slug}}" href="{{url}}">{{{title}}}</a></li>
			{{/each}}
  	{{/if}}    
  {{/each}}
{{else}}
    <li>No data available</li>
{{/if}}

